*{
    box-sizing: border-box;
}

body {
 margin: 0;  
 padding: 0;
 background-color: #f1f5f9;
 font-family: 'Inter', sans-serif;

}
html {
  scroll-behavior: smooth;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: rgba(255, 255, 255, 0.7);
    --border-color: rgba(255, 255, 255, 0.5);
    --color-grayblue: #64748b;
    --color-blue: #2083c5;
    --darkblue: #0F172A;
    --linear: linear-gradient(135deg, #0F172A, #2083c5);
    --shadow: 0 4px 30px rgba(15, 23, 42, 0.05);
    --shadow-hover: 0 4px 30px rgba(15, 23, 42, 0.12);
}